/* Google Fonts - Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
   
}
body{
    background-color: #fff;
}
.topnav {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #B2A4FF;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;
 }
 
 .img {
  
  max-width: 80px;
 }
 
 .text {
   font-size: 15px;
   color: #000000;
   margin-left: 30%;
 }
 .text2 {
  font-size: 20px;
  color: #000000;

}

nav{
  
  position: absolute;
 padding: auto;
  height: auto;

  background: #B2A4FF;
  width:150px;
  overflow: hidden;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.logo{
  text-align: left;
  display: flex;
  margin: 10px 0 0 10px;
}
.logo img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.logo span{
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
a{
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;

  display:block;
  width: 280px;
}
nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.nav-item{
  margin-bottom: 10px;
  top: 12px;
 
}

a:hover{
  background: #FFDEB4;
  width:100%;
}

.fas{
  margin-top: 10px;
}
.box{
  background-color: #FFDEB4;
  width: 330px;
  border: 15px solid black;
  padding: 50px;

}
.video{
  margin-right: 50px;
  width: 320px;
  right: 0;
  position: fixed;
  float: right;
  background-color: #FFDEB4;
  height: auto;
  border-radius: 20px;
  
}
.vid{
  border: 3px solid #000000;
  width: 250px;
margin-left: 31.25px;
 margin-right: 31px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.frm{
  background-color: #FFDEB4;
  width: 200px;
  height: 200px;
  margin-right: 80px;
  margin-top: 50px;
  border-radius: 20px;
  
}
table{
  margin-left: 250px;
 
}
.cd{
margin-top: 50px;
margin-left: 50px;
width: 100px;
}
.containerleft{
  position: fixed;
}
button{
  width: 60px;
  height: 30px;
  bottom: 0;
  margin-left: 120px;
 border-radius: 10px;
 color:white;
 background-color: #B2A4FF;
}
button:hover{
  
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.padding{
  padding-bottom: 20px;
}
.btmnav{
bottom: 0;
  width:75%;
 margin-right: 400px;
  position: fixed;
  border-top-right-radius:10px;
  background-color: #B2A4FF;
  height: auto;
}
